body {
    background-image: url("bg.jpg"); 
    background-color:white; 
    height: 1000px; 
    background-position: center; 
    background-repeat: repeat; 
    background-size: cover; 
    overflow-x: hidden;
    overflow-y: scroll;
  }